* {
  box-sizing: border-box;
}
.container {
  background: #ffffff;
  max-width: 1080px;
  padding: 0 60px;
  margin: 0 auto;
}
.hero {
  height: auto;
}
.hero_section {
  padding-top: 45px;
  padding-bottom: 45px;
}
.hero__slider {
  width: 100%;
  background: #f4efe9;
  border-radius: 20px;
  height: 300px;
  display: flex;
}
.text__side {
  width: 319px;
  padding: 16px 0 0 20px;
}
.logo-text {
  margin-top: 32px;
  margin-left: 41px;
}
.bg__side {
  display: flex;
  flex-grow: 1;
  background-image: url("../../images/img/bg-slider.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn__slider_buy {
  width: 180px;
  padding: 15px 0px;
  border: none;
  background: #a5d364;
  border-radius: 110px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 41px;
  margin-top: 10px;
  transition: box-shadow, 300ms ease-in-out;
}
.btn__slider_buy:hover {
  background: #7ea24c;
  box-shadow: 3px 3px 20px black;
}
