.basket-card-wrap {
  width: 325px;
  height: 119px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  position: relative;
}

.basket-card-wrap {
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
.basket-card-img {
  min-width: 70px;
  min-height: 70px;
  background-image: url("../../images/img/shoes.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.basket-card-sub-title {
  max-width: 150px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  display: inline-block;
  height: 34px;
}
.basket-card-sup-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.card-add-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #f2f2f2;
  transition: 200ms ease-in-out;
}
.plus-btn {
  width: 100%;
  height: 100%;
  transition: 200ms ease-in-out;
  transform: rotate(45deg);
}
