body {
  position: relative;
}
.overlay {
  width: 100%;
  height: 100vh;
  background: #00000089;
  position: fixed;
  left: 0px;
  top: 0;
  z-index: 1;
  transition: 300ms ease-in-out;
}
.hidden {
  opacity: 0;
  //   display: none;
  z-index: -1;
}
.basket-wrap {
  opacity: 1;
  width: 385px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  right: 0px;
  padding: 30px;
}
.basket-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 30px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.exit-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  transform: rotate(45deg);
}
